node_modules/
coverage/
webkitbuilds/
temp/
pgbuildconfig.json
.cordova/config.json
data/
build/
*.sublime*

# bower stuff, include actual files
src/components/*/*

!src/components/angular/angular*.js
!src/components/angular-mocks/angular*.js

!src/components/bootstrap-css/css
!src/components/bootstrap-css/img
!src/components/bootstrap-css/js


!src/components/fastclick/lib
!src/components/fastclick/lib/fastclick.js

!src/components/font-awesome/css
!src/components/font-awesome/font

!src/components/idbwrapper/idbstore*.js

!src/components/jquery/jquery*.js

!src/components/q/q.js

!src/components/requirejs/require.js

!src/components/signature-pad/jquery.signaturepad*.js
