node_modules/
coverage/
nw-builds/
nw-cache/
temp/
pgbuildconfig.json
.cordova/config.json
data/
build/
*.sublime*

# bower stuff, include actual files
src/components/*/*

!src/components/angular/angular*.js
!src/components/angular/angular*.map
!src/components/angular-sanitize/angular-sanitize*.js
!src/components/angular-mocks/angular*.js
!src/components/angular-touch/angular*.js
!src/components/angular-touch/angular*.map
!src/components/angular-bootstrap/*.js

!src/components/bootstrap-css/css
!src/components/bootstrap-css/img
!src/components/bootstrap-css/js

!src/components/idbwrapper/idbstore*.js

!src/components/jquery/jquery*.js

!src/components/q/q.js

!src/components/requirejs/require.js

!src/components/signature-pad/jquery.signaturepad*.js

!src/components/material-design-icons/sprites
