html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
}
body {
    position: absolute;
    top: 0;
    width: 100%;
    overflow: auto;
    font-family: 'latolight', 'Segoe UI Light','helvetica','Arial';
}

p, h1, h2, h3, h4, h5 {
    margin: 16px 0;
    padding: 0;
    font-weight: normal;
}
#header {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    height: 192px;
    background-color: #3F51B5;
    z-index: -1;
}

#resize {
    position: fixed;
    left: 0;
    width: 64px;
    top: 192px;
    text-align: center;
    line-height: 64px;
}
#resize i {
    display: inline-block;
    vertical-align: middle;
    padding: 10px;
    font-size: 32px;
}

#demoframe {
    display: block;
    height: calc(100% - 128px);
    width: calc(100% - 128px);
    max-width: 1280px;
    margin: 64px auto;
    box-shadow: 0 8px 10px -5px rgba(0,0,0,.14),0 16px 24px 2px rgba(0,0,0,.098),0 6px 30px 5px rgba(0,0,0,.084);
    transition: all 0.5s;
}

#demoframe.phone {
    width: 376px;
    height: 666px;
}

#demoframe.tablet {
    width: 613px;
    height: 818px;
}

#demoframe.desktop {
    height: calc(100% - 128px);
    width: calc(100% - 128px);
}

.popupContainer {
    position: absolute;
    display: none;
}

.popupContainer.visible {
    display: block;
}

.popupContainer .screen {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: black;
    opacity: 0.2;
}

.popupContainer .dialog {
    position: fixed;
    top: 50%;
    left: 50%;
    background-color: white;
    box-shadow: 0 8px 10px -5px rgba(0,0,0,.14),0 16px 24px 2px rgba(0,0,0,.098),0 6px 30px 5px rgba(0,0,0,.084);
}

#qr .dialog {
    margin-left: -100px;
    margin-top: -100px;
    width: 200px;
    height: 200px;
    padding: 50px;
}

#disclaimer .dialog {
    margin-left: -400px;
    margin-top: -220px;
    width: 800px;
}

.dialogHeader {
    height: 64px;
    line-height: 64px;
    padding: 0 16px;
    background-color: #3F51B5;
    color: white;
    z-index: -1;
}
.dialogHeader h2 {
    margin: 0;
}
.dialogBody {
    padding: 16px;
}
.dialogBody p, .dialogBody h1, .dialogBody h2, .dialogBody h3, .dialogBody h4 {
    margin: 16px 0;
}


h1 {
    color: white;
    font-size: 32px;
    padding: 0 12px;
    font-weight: normal;
    margin: 10px 0;
    font-weight: normal;
}

a {
    color: inherit;
    text-decoration: none;
}

@media (max-width: 1750px){
    .content.w1750 {display: none;}
}


/* phone stuff */
@media (max-width: 479px) {
    /* no menu */
    #resize {
        display: none;
    }
    #demoframe, .bigPopup {
        margin: 0;
        margin-top: 64px;
        height: calc(100% - 64px) !important;
        width: 100% !important;
    }
    .bigPopup .dialog {
        margin-left: -45%;
        width: 90%;
        height: calc(100% - 64px) !important;
        overflow-y: scroll;
    }
}