<div class="appbar">
    <button ng-click="toggleDrawer()">
        <i class="material-icons">menu</i>
    </button>
    <h1>
        {{currentPage.title}}
    </h1>
</div>
<div ng-controller="scoresCtrl">
    <button class="raised" ng-click="pollSheets()"><i class="material-icons">refresh</i> Check for new scores</button>
    <button class="raised" ng-click="refresh()"><i class="material-icons">refresh</i> Refresh scores</button>
    <br />
    <br />
    <p>Showing {{scores.length}} scores.</p>
    <table class="table table-bordered table-striped">
        <thead>
            <tr class="clickable">
                <th class="span1" ng-click="doSort('index',true)">
                    <span style="float: left"># </span>
                    <i style="float: right" class="material-icons">{{sortIcon('index')}}</i>
                </th>
                <th class="span3" ng-click="doSort(['stage.index','-index'],false)">
                    <span style="float: left">Stage </span>
                    <i style="float: right" class="material-icons">{{sortIcon(['stage.index','-index'])}}</i>
                </th>
                <th class="span2" ng-click="doSort(['stage.index','round','-index'],false)">
                    <span style="float: left">Round </span>
                    <i style="float: right" class="material-icons">{{sortIcon(['stage.index','round','-index'])}}</i>
                </th>
                <th class="span2" ng-click="doSort('table',false)">
                    <span style="float: left">Table </span>
                    <i style="float: right" class="material-icons">{{sortIcon('table')}}</i>
                </th>
                <th class="span2" ng-click="doSort('team.number',false)">
                    <span style="float: left">Team </span>
                    <i style="float: right" class="material-icons">{{sortIcon('team.number')}}</i>
                </th>
                <th class="span2" ng-click="doSort('team.name',false)">
                    <span style="float: left">Name </span>
                    <i style="float: right" class="material-icons">{{sortIcon('team.name')}}</i>
                </th>
                <th class="span2" ng-click="doSort('score',true)">
                    <span style="float: left">Score </span>
                    <i style="float: right" class="material-icons">{{sortIcon('score')}}</i>
                </th>
                <th>Action</th>
            </tr>
        </thead>
        <tr ng-repeat="score in scores | orderBy:sort:rev track by $index" ng-class="{error: score.error, warning: score.modified && !score.error}">
            <td>{{$index + 1}}</td>
            <td>
                <i class="material-icons" ng-show="score.error.name == 'UnknownStageError'" title="{{score.error.message}}">error</i>
                <span ng-if="!score.$editing">
                    {{score.stage.name}}
                </span>
                <span ng-if="score.$editing">
                    <select ng-model="score.stageId" ng-options="stage.id as stage.name for stage in stages" style="width: 130px"></select>
                </span>
            </td>
            <td>
                <i class="material-icons" ng-show="score.error.name == 'UnknownRoundError'" title="{{score.error.message}}">error</i>
                <span ng-if="!score.$editing">
                    {{score.round}}
                </span>
                <span ng-if="score.$editing">
                    <input style="width:50px" type="text" ng-model="score.round">
                </span>
            </td>
            <td>
                <span ng-if="!score.$editing">
                    {{score.table}}
                </span>
                <span ng-if="score.$editing">
                    <input style="width:50px" type="text" ng-model="score.table">
                </span>
            </td>
            <td>
                <i class="material-icons" ng-show="score.error.name == 'UnknownTeamError'" title="{{score.error.message}}">error</i>
                <span ng-if="!score.$editing">
                    {{score.team.number}}
                </span>
                <span ng-if="score.$editing">
                    <input style="width:50px" type="text" ng-model="score.teamNumber">
                </span>
            </td>
            <td>{{score.team.name}}</td>
            <td>
                <i class="material-icons" ng-show="score.error.name == 'InvalidScoreError'" title="{{score.error.message}}">error</i>
                <span ng-if="!score.$editing">
                    {{score.score}}
                </span>
                <span ng-if="score.$editing">
                    <input style="width:50px" type="text" ng-model="score.score">
                </span>
                <i class="material-icons" ng-show="score.error.name == 'DuplicateScoreError'" title="{{score.error.message}}">error</i>
            </td>
            <td>
                <button class="btn"
                    ng-if="!score.published"
                    ng-click="publishScore($index)"
                >
                    Publish
                </button>
                <button class="btn"
                    ng-if="score.published"
                    ng-click="unpublishScore($index)"
                >
                    Unpublish
                </button>
                <button class="btn btn-default"
                    ng-if="!score.$editing"
                    ng-click="editScore($index)"
                >
                    <i class="material-icons">mode_edit</i>
                    Edit
                </button>
                <button class="btn btn-default"
                    ng-if="score.$editing"
                    ng-click="finishEditScore($index)"
                >
                    <i class="material-icons">mode_edit</i>
                    Save
                </button>
                <button class="btn btn-danger"
                    ng-if="!score.$editing"
                    fll-really-message="Are you sure you want to completely remove score {{score.score}} for round {{score.match.round}} of team {{score.team.name}}?" fll-really-click="removeScore($index)">
                    <i class="material-icons">delete</i>
                    Delete
                </button>
                <button class="btn btn-default"
                    ng-if="score.$editing"
                    ng-click="cancelEditScore($index)"
                >
                    Cancel
                </button>

            </td>
        </tr>
    </table>
    <p>Showing {{scores.length}} scores.</p>
</div>
