<div ng-controller="scoresheetCtrl" id="scoresheet">
    <div class="appbar">
        <button ng-click="toggleDrawer()">
            <i class="material-icons">menu</i>
        </button>
        <h1>
            {{currentPage.title}}
        </h1>
        <h3>
            Current Score: {{score()}}
        </h3>
    </div>
    <div>
        <div ng-show="errorMessage">
            <p class="error">
                {{errorMessage}}
            </p>
        </div>
        <div class="missions" ng-style="{borderLeftColor:teamColor()}">
            <section class="card" ng-class="{ok:teamRoundOk()}">
                <h2 class="card-header">Team &amp; round</h2>
                <div class="card-body">
                    <p>
                        <button class="raised" ng-click="openTeamModal(teams)"><i class="material-icons">people</i> Team</button>
                        <span ng-show="team">({{team.number}}) {{team.name}} </span>
                    </p>
                    <p>
                        <button class="raised" ng-click="openRoundModal(stages)"><i class="material-icons">label</i> Stage &amp; round</button>
                        <span ng-show="stage">{{stage.name}}:</span> <span ng-show="round">{{round}}</span>
                    </p>
                    <p style="padding-left: 15px" ng-show="settings.askTable">
                        Table:
                        <select ng-model="table" ng-options="item.name as item.name for item in settings.tables"></select>
                    </p>
                    <p style="padding-left: 15px" ng-show="settings.askReferee">
                        Referee:
                        <select ng-model="referee" ng-options="item.name as item.name for item in settings.referees"></select>
                    </p>
                    <div id="totalScore" ng-hide="settings.hideTotal">
                        Total score: {{score()}}
                    </div>
                </div>
            </section>
            <form id="scoresheetForm" ng-submit="validateScoresheet()">
                <section class="card" ng-repeat="mission in missions" ng-class="{error:mission.errors.length, ok:mission.completed}">

                    <div class="card-menu" ng-click="openDescriptionModal(mission)"><i class="material-icons">info_outline</i></div>

                    <h2 class="card-header">
                        {{mission.title}}
                        ({{mission.result}})
                    </h2>
                    <div class="card-body">
                        <div class="objective" ng-repeat="objective in mission.objectives" ng-switch="objective.type">
                            <div>
                                <span class="field" ng-switch-when="yesno">
                                    {{objective.title}}
                                    <div class="btn-group">
                                        <label class="btn btn-enum" ng-model="objective.value" btn-radio="'yes'">{{getString('yes')}}</label>
                                        <label class="btn btn-enum" ng-model="objective.value" btn-radio="'no'">{{getString('no')}}</label>
                                    </div>
                                </span>
                                <span class="field" ng-switch-when="number">
                                    {{objective.title}}
                                    <span fll-spinner ng-model="objective.value" min="objective.min||0" max="objective.max"></span>
                                </span>
                                <div class="field" ng-switch-when="enum">
                                    {{objective.title}}
                                    <div class="btn-group">
                                        <label ng-repeat="line in objective.options" class="btn btn-enum" ng-model="objective.value" btn-radio="line.value">{{line.title}}</label>
                                    </div>
                                    <div style="clear:both;"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div ng-repeat="error in mission.errors" class="error card-actions">
                        <i class="material-icons">warning</i>
                        {{error.message}}
                    </div>
                </section>
            </form><!-- END of scoresheetForm -->
            <section class="card" ng-class="{ok:teamRoundOk()}">
                <h2 class="card-header">Team &amp; round</h2>
                <div class="card-body">
                    <p>
                        <button class="raised" ng-click="openTeamModal(teams)"><i class="material-icons">people</i> Team</button>
                        <span ng-show="team">({{team.number}}) {{team.name}} </span>
                    </p>
                    <p>
                        <button class="raised" ng-click="openRoundModal(stages)"><i class="material-icons">label</i> Stage &amp; round</button>
                        <span ng-show="stage">{{stage.name}}:</span> <span ng-show="round">{{round}}</span>
                    </p>
                    <p style="padding-left: 15px" ng-show="settings.askTable">
                        Table:
                        <select ng-model="table" ng-options="item.name as item.name for item in settings.tables"></select>
                    </p>
                    <p style="padding-left: 15px" ng-show="settings.askReferee">
                        Referee:
                        <select ng-model="referee" ng-options="item.name as item.name for item in settings.referees"></select>
                    </p>
                    <div id="totalScore" ng-hide="settings.hideTotal">
                        Total score: {{score()}}
                    </div>
                </div>
            </section>

            <section class="card" ng-class="{ok:signature}">
                <h2 class="card-header">
                    Team signature
                    <button class="btn pull-right btn-warning" ng-click="signature=null"><i class="material-icons">clear</i> Clear signature</button>
                </h2>
                <div fll-sigpad ng-model="signature"></div>
            </section>

            <section class="card">
                <p ng-repeat="error in preventSaveErrors()">
                    <i class="material-icons">warning</i>
                    {{error}}
                </p>
            </section>
        </div>


        <div>
            <button class="btn btn-danger" id="discard" fll-really-message="Sure to discard this score sheet?" fll-really-click="clear()"><i class="material-icons">clear</i> Discard</button>
            <button class="btn btn-success" id="save" ng-disabled="!isSaveable()" ng-click="save()"><i class="material-icons">check</i> Save</button>
        </div>

    </div>
</div>
