<div class="appbar">
    <button ng-click="toggleDrawer()">
        <i class="material-icons">menu</i>
    </button>
    <h1>
        {{currentPage.title}}
        <span ng-show="needSave">(Not saved)</span>
        <span ng-hide="needSave">(Saved)</span>
        <i ng-show="saving" class="material-icons">save</i>
    </h1>
</div>
<div ng-controller="teamsCtrl" id="teams">
    <form class="form-inline form-new-team" name="newTeamForm" ng-show="editMode">
        <span class="control-group" ng-class="{error:!newTeamForm.newTeamNumber.$valid}">
            <label class="control-label">
                Number:
                <input type="text" name="newTeamNumber" ng-pattern="teamNumberPattern" class="input-small" ng-model="newTeam.number" size="4" required>
            </label>
        </span>
        <span class="control-group">
            <label class="control-label">
                Name:
                <input type="text" ng-model="newTeam.name" required>
            </label>
        </span>
        <button class="btn" ng-click="addTeam()" ng-disabled="!newTeamForm.$valid">Add team</button>
    </form>
    <p class="pull-right">
        <button class="btn" ng-click="import()">
            <i class="material-icons">add</i>
            Import
        </button>
        <button class="btn" ng-click="load()">
            <i class="material-icons">cloud_download</i>
            Load
        </button>
        <button ng-class="{active:editMode}" class="btn" ng-click="editMode=!editMode;saveTeams()">
            <i class="material-icons">mode_edit</i> Edit
        </button>
    </p>
    <div class="clearfix"></div>
    <div class="alert alert-info" ng-show="status">
        <button type="button" class="close" ng-click="status=''">&times;</button>
        {{status}}
    </div>

    <p>Showing {{teams.length}} teams.</p>
    <div class="smallLayoutHide mediumLayoutHide">
        <table class="table table-hover table-bordered table-striped table-teams">
            <thead>
                <tr>
                    <th ng-click="sort='team.number';rev=true">#</th>
                    <th ng-click="sort='team.name';rev=false">Name</th>
                    <th ng-click="sort='team.cityState';rev=false">City (State)</th>
                    <th ng-click="sort='team.country';rev=false">Country</th>
                    <th ng-click="sort='team.affiliation';rev=false">Affiliation</th>
                    <th ng-click="sort='team.coach1';rev=false">Coach 1</th>
                    <th ng-click="sort='team.coach2';rev=false">Coach 2</th>
                    <th ng-click="sort='team.judgingGroup';rev=false">Judging Group</th>
                    <th ng-click="sort='team.pitLocation';rev=false">Pit Location</th>
                    <th ng-click="sort='team.translationNeeded';rev=false" style="width: 50px;">Translation</th>
                </tr>
            </thead>
            <tr ng-show="!editMode" ng-repeat="team in teams | orderBy:sort:rev  track by team.number" ng-click="selectTeam(team)">
                <td>{{team.number}}</td>
                <td>{{team.name}}</td>
                <td>{{team.cityState}}</td>
                <td>{{team.country}}</td>
                <td>{{team.affiliation}}</td>
                <td>{{team.coach1}}</td>
                <td>{{team.coach2}}</td>
                <td>{{team.judgingGroup}}</td>
                <td>{{team.pitLocation}}</td>
                <td><i ng-show="team.translationNeeded===true" class="material-icons">check</i></td>
            </tr>
            <tr ng-show="editMode" ng-repeat="team in teams | orderBy:sort:rev" track by team.number>
                <td><input type="text" ng-model=team.number class="team-number"></td>
                <td><input type="text" ng-model=team.name></td>
                <td><input type="text" ng-model=team.cityState>
                <td><input type="text" ng-model=team.country></td>
                <td><input type="text" ng-model=team.affiliation></td>
                <td><input type="text" ng-model=team.coach1></td>
                <td><input type="text" ng-model=team.coach2></td>
                <td><input type="text" ng-model=team.judgingGroup class="team-number"></td>
                <td><input type="text" ng-model=team.pitLocation class="team-number"></td>
                <td><input type="checkbox" ng-model=team.translationNeeded></td>
                <td>
                    <span ng-show="editMode">
                        <i class="material-icons clickable" title="delete" fll-really-message="Sure to delete this team?" fll-really-click="removeTeam(team.number)">delete</i>
                    </span>
                </td>
            </tr>
        </table>
    </div>
    <div class="largeLayoutHide">
        <div ng-class="{clickable:!editMode}" class="team" ng-repeat="team in teams | orderBy:sort:ref track by team.number" ng-click="isCollapsed = toggleExtended(isCollapsed)">
            <span ng-show="!editMode">({{team.number}}) {{team.name}}, {{team.cityState}}</span>
            <input ng-show="editMode" ng-model="team.number" class="team-number">
            <input ng-show="editMode" ng-model="team.name">
            <input ng-show="editMode" ng-model="team.cityState">
            <button ng-show="editMode" class="btn" ng-class="{active:isCollapsed}" ng-click="isCollapsed=!isCollapsed">+</button>
            <div ng-class="{collapse:!isCollapsed}" class="extended">
                <div>
                    <span class="title">Country</span>
                    <span ng-show="!editMode">{{team.country}}</span>
                    <input ng-show="editMode" ng-model="team.country">
                </div>
                <div>
                    <span class="title">Affiliation</span>
                    <span ng-show="!editMode">{{team.affiliation}}</span>
                    <input ng-show="editMode" ng-model="team.affiliation">
                </div>
                <div>
                    <span class="title">Coach 1</span>
                    <span ng-show="!editMode">{{team.coach1}}</span>
                    <input ng-show="editMode" ng-model="team.coach1">
                </div>
                <div>
                    <span class="title">Coach 2</span>
                    <span ng-show="!editMode">{{team.coach2}}</span>
                    <input ng-show="editMode" ng-model="team.coach2">
                </div>
                <div>
                    <span class="title">Judging group</span>
                    <span ng-show="!editMode">{{team.judgingGroup}}</span>
                    <input ng-show="editMode" ng-model="team.judgingGroup">
                </div>
                <div>
                    <span class="title">Pit location</span>
                    <span ng-show="!editMode">{{team.pitLocation}}</span>
                    <input ng-show="editMode" ng-model="team.pitLocation">
                </div>
                <div>
                    <span class="title">Translation needed</span>
                    <span ng-show="!editMode &amp;&amp; team.translationNeeded===true"><i class="material-icons">check</i></span>
                    <input ng-show="editMode" type="checkbox" ng-model="team.translationNeeded">
                </div>
            </div>
        </div>
    </div>
    <p>Showing {{teams.length}} teams.</p>
</div>
