    <div class="fll-dialog-shim" ng-controller="TeamImportDialogController" ng-show="dialogVisible">
        <div class="fll-dialog" id="teamImportDialog">
            <h1>
                <div class="fll-dialog-back icon-arrow-left pull-left" ng-click="cancel()"></div>
                Import teams
                <button class="fll-dialog-close btn btn-danger btn-dialog pull-right" ng-click="cancel()"><div class="icon-remove"></div></button>
            </h1>
            <section>
                <div class="modal-body">
                    <p>
                        Paste a team list below
                    </p>
                    <p>
                        <textarea name="" ng-model="importRaw"></textarea>
                    </p>
                    <p>
                        <label>
                            <input type="checkbox" ng-model="importHeader">
                            Data contains header
                        </label>
                    </p>
                    <p>
                        Number column
                        <input type="text" ng-model="importNumberColumn" size="3">
                        ({{importNumberExample}})
                    </p>
                    <p>
                        Name column
                        <input type="text" ng-model="importNameColumn" size="3">
                        ({{importNameExample}})
                    </p>

                    <table>
                        <tr ng-repeat="line in importLines">
                            <td ng-repeat="field in line">
                                {{field}}
                            </td>
                        </tr>
                    </table>
                    <button class="btn" ng-click="ok()">Ok</button>
                    <button class="btn" ng-click="cancel()">Cancel</button>
                </div>
            </section>
        </div>
    </div>

    <div class="fll-dialog-shim" ng-controller="TeamDialogController" ng-show="dialogVisible">
        <div class="fll-dialog" id="teamDialog">
            <h1>
                <div class="fll-dialog-back icon-arrow-left pull-left" ng-click="cancel()"></div>
                Select a team
                <button class="fll-dialog-close btn btn-danger btn-dialog pull-right" ng-click="cancel()"><div class="icon-remove"></div></button>
            </h1>
            <section>
                <table class="table table-hover table-striped table-teams">
                    <thead>
                        <tr>
                            <th ng-click="sort='team.number';rev=true">#</th>
                            <th ng-click="sort='team.name';rev=true">Name</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="team in teams | orderBy:settings.teamSort" ng-click="selectTeamPop(team)">
                            <td><h3>{{team.number}}</h3></td>
                            <td>{{team.name}}
                            <br />
                            <small>{{team.affiliation}}, {{team.cityState}}</small>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </section>
        </div>
    </div>

    <div class="fll-dialog-shim" ng-controller="RoundDialogController" ng-show="dialogVisible">
        <div class="fll-dialog" id="roundDialog">
            <h1>
                <div class="fll-dialog-back icon-arrow-left pull-left" ng-click="cancel()"></div>
                Select a round
                <button class="fll-dialog-close btn btn-danger btn-dialog pull-right" ng-click="cancel()"><div class="icon-remove"></div></button>
            </h1>
            <section>
                <table class="table table-striped">
                    <tbody>
                        <tr ng-repeat="stage in stages">
                            <td>
                                <h3>{{stage.name}}</h3>
                            </td>
                            <td>
                                <div class="btn-group btn-group-justified">
                                    <div class="btn-group" >
                                        <button
                                            type="button"
                                            class="btn btn-round"
                                            ng-repeat="dummy in getNumber(stage.rounds) track by $index"
                                            ng-click="selectRoundPop(stage, $index+1)"
                                            ><div class="round-label">{{$index+1}}</div>
                                        </button>
                                    </div>
                                </div>
                            </td>
                        </tr ng-repeat-end>
                    </tbody>
                </table>
            </section>
        </div>
    </div>

    <div class="fll-dialog-shim" ng-controller="DescriptionDialogController" ng-show="dialogVisible">
        <div class="fll-dialog" id="descriptionDialog">
            <h1>
                <div class="fll-dialog-back icon-arrow-left pull-left" ng-click="cancel()"></div>
                {{mission.title}}
                <button class="fll-dialog-close btn btn-danger btn-dialog pull-right" ng-click="cancel()"><div class="icon-remove"></div></button>
            </h1>
            <section>
                <div class="modal-body" ng-bind-html="mission.description">
                   {{mission.description}}
                </div>
            </section>
        </div>
    </div>
