    <div class="fll-dialog-shim" ng-controller="TeamImportDialogController" ng-show="dialogVisible">
        <div class="fll-dialog" id="teamImportDialog">
            <h1>
                <div class="fll-dialog-back material-icons" ng-click="cancel()">arrow_back</div>
                <span class="header-text">Import teams</span>
                <button class="fll-dialog-close btn btn-danger btn-dialog" ng-click="cancel()"><div class="material-icons">close</div></button>
            </h1>
            <section>
                <div class="modal-body">
                    <p>
                        Paste a team list below
                    </p>
                    <p>
                        <textarea name="" ng-model="importRaw"></textarea>
                    </p>
                    <p>
                        <label>
                            <input type="checkbox" ng-model="importHeader">
                            Data contains header
                        </label>
                    </p>
                    <p>
                        Number column
                        <input type="text" ng-model="importNumberColumn" size="3">
                        ({{importNumberExample}})
                    </p>
                    <p>
                        Name column
                        <input type="text" ng-model="importNameColumn" size="3">
                        ({{importNameExample}})
                    </p>
                    <p>
                        Use custom delimiter? (Default is tab, the delimiter used when pasting from excel) <br/>
                        <input type="checkbox" ng-model="useCustomDelimiter">
                        <input type="text" ng-model="delimiter">
                    </p>

                    <table>
                        <tr ng-repeat="line in importLines">
                            <td ng-repeat="field in line">
                                {{field}}
                            </td>
                        </tr>
                    </table>
                    <button class="btn" ng-click="ok()">Ok</button>
                    <button class="btn" ng-click="cancel()">Cancel</button>
                </div>
            </section>
        </div>
    </div>

    <div class="fll-dialog-shim" ng-controller="TeamDialogController" ng-show="dialogVisible">
        <div class="fll-dialog" id="teamDialog">
            <h1>
                <div class="fll-dialog-back material-icons" ng-click="cancel()">arrow_back</div>
                <span class="header-text">Select a team</span>
                <p>
                    <button class="fll-dialog-close btn btn-danger btn-dialog" ng-click="cancel()"><div class="material-icons">close</div></button>
                    <button class="btn btn-default btn-dialog" ng-click="settings.teamSort='name';settings.save()" ng-hide="settings.teamSort=='name'">Sort by name</button>
                    <button class="btn btn-default btn-dialog" ng-click="settings.teamSort='number';settings.save()" ng-hide="settings.teamSort=='number'">Sort by number</button>
                </p>
            </h1>
            <section>
                <table class="table table-hover table-striped table-teams">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Name</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="team in teams | orderBy:settings.teamSort" ng-click="selectTeamPop(team)">
                            <td><h3>{{team.number}}</h3></td>
                            <td>{{team.name}}
                            <br />
                            <small>{{team.affiliation}}, {{team.cityState}}</small>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </section>
        </div>
    </div>

    <div class="fll-dialog-shim" ng-controller="RoundDialogController" ng-show="dialogVisible">
        <div class="fll-dialog" id="roundDialog">
            <h1>
                <div class="fll-dialog-back material-icons" ng-click="cancel()">arrow_back</div>
                <span class="header-text">Select a round</span>
                <button class="fll-dialog-close btn btn-danger btn-dialog" ng-click="cancel()"><div class="material-icons">close</div></button>
            </h1>
            <section>
                <table class="table table-striped">
                    <tbody>
                        <tr ng-repeat="stage in stages">
                            <td>
                                <h3>{{stage.name}}</h3>
                            </td>
                            <td>
                                <div class="btn-group btn-group-justified">
                                    <div class="btn-group" >
                                        <button
                                            type="button"
                                            class="btn btn-round"
                                            ng-repeat="dummy in getNumber(stage.rounds) track by $index"
                                            ng-click="selectRoundPop(stage, $index+1)"
                                            ><div class="round-label">{{$index+1}}</div>
                                        </button>
                                    </div>
                                </div>
                            </td>
                        </tr ng-repeat-end>
                    </tbody>
                </table>
            </section>
        </div>
    </div>

    <div class="fll-dialog-shim" ng-controller="DescriptionDialogController" ng-show="dialogVisible">
        <div class="fll-dialog" id="descriptionDialog">
            <h1>
                <div class="fll-dialog-back material-icons" ng-click="cancel()">arrow_back</div>
                <span class="header-text">{{mission.title}}</span>
                <button class="fll-dialog-close btn btn-danger btn-dialog" ng-click="cancel()"><div class="material-icons">close</div></button>
            </h1>
            <section>
                <div class="modal-body" ng-bind-html="mission.description">
                   {{mission.description}}
                </div>
            </section>
        </div>
    </div>

    <div class="fll-dialog-shim" ng-controller="NewStageDialogController" ng-show="dialogVisible">
        <div class="fll-dialog" id="newStageDialog">
            <h1>
                <div class="fll-dialog-back material-icons" ng-click="cancel()">arrow_back</div>
                <span class="header-text">Create new Stage</span>
                <button class="fll-dialog-close btn btn-danger btn-dialog" ng-click="cancel()"><div class="material-icons">close</div></button>
            </h1>
            <section>
                <div class="modal-body">
                    <p class="textfield">
                        <input type="text" ng-model="stage.name" ng-change="nameChanged()">
                        <label for="">Name</label>
                    </p>
                    <p class="textfield">
                        <input type="text" ng-model="stage.id" ng-change="idChanged()">
                        <label for="">Id (unique)</label>
                    </p>
                    <p class="textfield">
                        <input type="number" min="0" ng-model="stage.rounds">
                        <label for="">Rounds (0 to disable stage)</label>
                    </p>
                    <p>
                        <button class="btn" ng-click="ok()" ng-disabled="!stageDefValid()">Ok</button>
                        <button class="btn" ng-click="cancel()">Cancel</button>
                    </p>
                </div>
            </section>
        </div>
    </div>

    <div class="fll-dialog-shim" ng-controller="ExportRankingDialogController" ng-show="dialogVisible">
        <div class="fll-dialog" id="ExportRankingDialog">
            <h1>
                <div class="fll-dialog-back material-icons" ng-click="cancel()">arrow_back</div>
                <span class="header-text">Export ranking to standalone file</span>
                <button class="fll-dialog-close btn btn-danger btn-dialog" ng-click="cancel()"><div class="material-icons">close</div></button>
            </h1>
            <section>
                <div class="modal-body">
                    <p>
                        <label for="">Stage</label>
                        <select data-ng-options="stage.name for stage in stages track by stage.id" data-ng-model="export.stage"></select>
                    </p>
                    <p>
                        <label for="">Rounds</label>
                        <select data-ng-options="getRoundLabel(round) for round in export.stage.$rounds" data-ng-model="export.round"></select>
                    </p>
                    <p>
                        <label>
                            <input type="checkbox" ng-model="export.prevRounds" ng-disabled="true" />
                            Include previous rounds
                        </label>
                    </p>
                    <p>
                        <button class="btn" ng-click="exportScore(export)">
                            <i class="material-icons">check</i>
                            Export score
                        </button>
                    <p>
                        <a  href="{{exportdata}}" download="{{exportname}}" ng-show="exportvisible"><i class="material-icons">file_download</i> Export naar USB</a>

                        <div ng-hide="true" id="scoreexport">
                            <style>
                                #bodyranking{
                                    background-color:#DEDEDE;
                                    background-repeat:no-repeat;
                                }
                                #rankingtable{
                                    font-family:"Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, sans-serif;
                                    text-align:center;
                                    width:95%;
                                    margin-left:auto;
                                    margin-right:auto;

                                }
                                #scoreexport{
                                    border:1px solid black;
                                    border-collapse:collapse;
                                }
                                #rankingtable td{
                                    border:2px solid #1D58B3;
                                    font-size:x-large;
                                    padding:9px;
                                    text-align:center;
                                    white-space:nowrap;
                                }
                                #rankingtable th{
                                    background-color:#1D58B3;
                                    border:2px solid red;
                                    padding:9px;
                                    color:white;
                                    font-size:x-large;
                                    white-space:nowrap;

                                }
                                .top{
                                    background-color:silver;
                                    opacity:0.8;
                                }
                                .all{
                                    background-color:rgba(255, 255, 255, 0.8);

                                }
                                .out{
                                    opacity: 0;
                                    -webkit-transition: opacity 2s ease-in;
                                    -moz-transition: opacity 2s ease-in;
                                    -o-transition: opacity 2s ease-in;
                                    -ms-transition: opacity 2s ease-in;
                                    transition: opacity 2s ease-in;
                                }
                            </style>
                            <script>
                                function runThroughHighscore(amount){
                                    // Total amount of rows in the HighScore
                                    TOTALAMOUNT       = amount;
                                    // The amount of rows shown at the same time
                                    FLOWAMOUNT        = angular.element(document.querySelector('[ng-controller="rankingCtrl"]')).scope().export.flowAmount;
                                    // The amount of scores always visible at top
                                    FIXEDSHOWNTOP     = angular.element(document.querySelector('[ng-controller="rankingCtrl"]')).scope().export.fixedShownTop;
                                    // Amount of seconds that the first page shows
                                    TIMEFORFRAME1     = angular.element(document.querySelector('[ng-controller="rankingCtrl"]')).scope().export.timeForFrame1;
                                    // Amount of seconds that each scroll takes
                                    TIMETHROUGHFRAMES = angular.element(document.querySelector('[ng-controller="rankingCtrl"]')).scope().export.timeThroughFrames;
                                    // Amount of scores that move away and appear
                                    FADEATONEGO       = angular.element(document.querySelector('[ng-controller="rankingCtrl"]')).scope().export.fadeAtOneGo;

                                    for(var p = 0 ; p <= FIXEDSHOWNTOP -1 ; p++){
                                    document.getElementById('trrow'+p).className = 'top';

                                    }
                                    for(var q = FIXEDSHOWNTOP ; q <= TOTALAMOUNT -1 ; q++){
                                    document.getElementById('trrow'+q).className = 'all';

                                    }
                                    for(var x = FLOWAMOUNT; x<(TOTALAMOUNT);x++){
                                        document.getElementById('trrow'+x).style.visibility = 'hidden';
                                    }
                                    //alert(amount);
                                    setTimeout(gotoNext,(TIMEFORFRAME1*1000));
                                }
                                function gotoNext(){
                                    for(y=1;y<=FADEATONEGO;y++){
                                        document.getElementById('trrow'+FIXEDSHOWNTOP).remove();
                                        document.getElementById('trrow'+FLOWAMOUNT).style.visibility = 'visible';
                                        FIXEDSHOWNTOP++;
                                        FLOWAMOUNT++;
                                    }
                                    setTimeout(gotoNext, (TIMETHROUGHFRAMES*1000));
                                    if(FLOWAMOUNT >= TOTALAMOUNT){
                                        setTimeout(reloadPage, 20000);
                                    }
                                    //document.getElementById("debugdiv").innerHTML = "TOTALAMOUNT("+TOTALAMOUNT+")FLOWAMOUNT("+FLOWAMOUNT+")";
                                }
                                function reloadPage(){
                                    location.reload();
                                }
                            </script>
                            <table class="table table-bordered table-striped" id="rankingtable">
                                <thead>
                                    <tr>
                                        <th>
                                            <span>Rank</span>
                                        </th>
                                        <th>
                                            <span>Team</span>
                                        </th>
                                        <th>
                                            <span>Name</span>
                                        </th>
                                        <th>
                                            <span>Highest</span>
                                        </th>
                                        <th ng-if="export.round > 0" ng-repeat="round in export.rounds track by $index" >
                                            <span>Round {{round}}</span>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="item in filterscoreboard[stageselected.id] | orderBy:stageselectedselected.sort:stageselected.rev track by item.team.number" id="trrow{{$index}}">
                                        <td>{{item.rank}}</td>
                                        <td>{{item.team.number}}</td>
                                        <td><b>{{item.team.name}}</b></td>
                                        <td class="highscorecelll">{{item.highest.score}}</td>
                                        <td class="scorecell" ng-if="stageselected.rounds > 1" ng-repeat="score in export.scores track by $index">{{score.score}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </p>
                    <p>
                        <button class="btn" ng-click="cancel()">Cancel</button>
                    </p>
                </div>
            </section>
        </div>
    </div>
