<link rel="stylesheet" type="text/css" href="components/bootstrap-css/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="components/font-awesome/css/font-awesome.min.css">

<div class="container">
    <div class="navbar navbar-fixed-bottom">
        <div class="navbar-inner">
            <ul class="nav">
                <li><a><i class="icon-check"></i> Scores</a></li>
                <li><a><i class="icon-sort-by-order-alt"></i> Ranking</a></li>
                <li><a><i class="icon-cog"></i> Settings</a></li>
            </ul>
        </div>
    </div>
</div>

<div>
    main html
</div>
