<div fll-size ng-class="containerClass($width,$height)">
    <div class="drawerShim" ng-class="{visible:drawerVisible}" ng-click="toggleDrawer(false)"></div>
    <div class="drawer" ng-class="{visible:drawerVisible}">
        <div class="drawerLead">
        </div>
        <ul class="nav">
            <li ng-class="{active:currentPage == 'teams'}"><a ng-click="setPage('teams')"><i class="material-icons">people</i> <span>Teams</span></a></li>
            <li ng-class="{active:currentPage == 'scoresheet'}"><a ng-click="setPage('scoresheet')"><i class="material-icons">check</i> <span>Scoresheet</span></a></li>
            <li ng-class="{active:currentPage == 'scores'}"><a ng-click="setPage('scores')"><i class="material-icons">list</i> <span>Scorekeeping</span> <span class="badge smallLayoutHide mediumLayoutHide" ng-show="validationErrors.length > 0"> {{validationErrors.length}}</span></a></li>
            <li ng-class="{active:currentPage == 'ranking'}"><a ng-click="setPage('ranking')"><i class="material-icons">format_list_numbered</i> <span>Ranking</span></a></li>
            <li ng-class="{active:currentPage == 'settings'}"><a ng-click="setPage('settings')"><i class="material-icons">settings</i> <span>Settings</span></a></li>
        </ul>
    </div>
    <div class="viewMain" ng-class="currentPage" ng-cloak>
        <div ng-repeat="page in pages"
            ng-include="'views/'+page+'.html'"
            ng-class="'view-'+page"
        ></div>
    </div>
    <div ng-include="'views/dialogs.html'"></div>
</div>
