<div fll-size ng-class="containerClass($width,$height)">
    <div class="navbar navbar-fixed-bottom">
        <div class="navbar-inner">
            <ul class="nav">
                <li><a ng-click="setPage('teams')"><i class="icon-group"></i> <span>Teams</span></a></li>
                <li><a ng-click="setPage('scoresheet')"><i class="icon-check"></i> <span>Scoresheet</span></a></li>
                <li><a ng-click="setPage('scores')"><i class="icon-list"></i> <span>Scores</span></a></li>
                <li><a ng-click="setPage('ranking')"><i class="icon-sort-by-order"></i> <span>Ranking</span></a></li>
                <li><a ng-click="setPage('settings')"><i class="icon-cog"></i> <span>Settings</span></a></li>
            </ul>
        </div>
    </div>
    <div class="viewMain" ng-class="currentPage" ng-cloak>
        <div ng-repeat="page in pages"
            ng-include="'views/'+page+'.html'"
            ng-class="'view-'+page"
            xxng-show="currentPage == page"
        ></div>
    </div>
</div>

