<div fll-size ng-class="containerClass($width,$height)">
    <div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
            <ul class="nav">
                <li ng-class="{active:currentPage == 'scoresheet'}"><a ng-click="setPage('scoresheet')"><i class="icon-check"></i> <span>Score</span></a></li>
                <li ng-class="{active:currentPage == 'settings'}"><a ng-click="setPage('settings')"><i class="icon-cog"></i> <span>Settings</span></a></li>
            </ul>
        </div>
    </div>
    <div class="viewMain" ng-class="currentPage" ng-cloak>
        <div ng-repeat="page in scoringPages"
            ng-include="'views/'+page+'.html'"
            ng-class="'view-'+page"
        ></div>
    </div>
    <div ng-include="'views/dialogs.html'"></div>
</div>
