<div ng-controller="scoresCtrl">
    <h1>Missions</h1>
    <table>
        <tbody ng-repeat="(key,mission) in missions">
            <tr>
                <td><h2>{{mission.title}}</h2></td>
                <td>error: {{mission.error}}</td>
                <td>result: {{mission.result}}</td>
            </tr>
            <tr ng-repeat="(key,feat) in mission.objectives">
                <td>{{feat.title}}</td>
                <td>
                    <span ng-switch="feat.type.name">
                        <input ng-model="feat.value" type="checkbox" ng-switch-when="Boolean">
                        <input ng-model="feat.value" min="{{feat.min||0}}" max="{{feat.max}}" type="number" ng-switch-when="Number">
                    </span>
                </td>
                <td>{{1*(feat.value||0)}}</td>
                <!-- <td>{{result(feat.rule)</td> -->
            </tr>
        </tbody>
    </table>
</div>
