<div ng-controller="scoresCtrl">
    <button class="btn" ng-click="pollSheets()"><i class="icon-repeat"></i> Check for new scores</button>
    <br />
    <br />
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th ng-click="doSort('index',true)">#</th>
                <th ng-click="doSort(['stage.index','-index'],false)">Stage</th>
                <th ng-click="doSort(['stage.index','round','-index'],false)">Round</th>
                <th ng-click="doSort('team.number',false)">Team</th>
                <th ng-click="doSort('team.name',false)">Name</th>
                <th ng-click="doSort('score',true)">Score</th>
                <th>Action</th>
            </tr>
        </thead>
        <tr ng-repeat="score in scores | index | orderBy:sort:rev" ng-class="{error: score.error, warning: score.modified}">
            <td>{{score.index + 1}}</td>
            <td>
                <i class="icon-exclamation-sign" ng-show="score.error.name == 'UnknownStageError'" title="{{score.error.message}}"></i>
                {{score.stage.name}}
            </td>
            <td>
                <i class="icon-exclamation-sign" ng-show="score.error.name == 'UnknownRoundError'" title="{{score.error.message}}"></i>
                {{score.round}}
            </td>
            <td>
                <i class="icon-exclamation-sign" ng-show="score.error.name == 'UnknownTeamError'" title="{{score.error.message}}"></i>
                {{score.team.number}}
            </td>
            <td>{{score.team.name}}</td>
            <td>
                <i class="icon-exclamation-sign" ng-show="score.error.name == 'InvalidScoreError'" title="{{score.error.message}}"></i>
                {{score.score}}
                <i class="icon-exclamation-sign" ng-show="score.error.name == 'DuplicateScoreError'" title="{{score.error.message}}"></i>
            </td>
            <td>
                <button class="btn btn-default" ng-click="editScore(score.index)">
                    <i class="icon-pencil"></i>
                    Edit
                </button>
                <button class="btn btn-danger" fll-really-message="Are you sure you want to completely remove score {{score.score}} for round {{score.match.round}} of team {{score.team.name}}?" fll-really-click="removeScore(score.index)">
                    <i class="icon-trash"></i>
                    Delete
                </button>
            </td>
        </tr>
    </table>
</div>
