<div ng-controller="scoresCtrl">
    <style>
        body {
            padding-bottom: 60px;
        }
        table {
            border-collapse: collapse;
            border: 1px solid whitesmoke;
            border-left: 5px solid silver;
        }
        td {
            border: 1px solid whitesmoke;
            border-width: 1px 0;
            padding: 4px 10px;
        }
        th {
            color: #666;
            font-size: 16px;
            font-weight: normal;
            text-align: left;
            padding: 4px 10px;
        }
        input {
            width: 30px;
        }
        tbody.error td {
            color: crimson;
        }
    </style>
    <h1>Missions</h1>
    <table ng-style="{borderLeftColor:teamColor()}">
        <colgroup>
            <col width="20">
        </colgroup>
        <tbody ng-repeat="mission in missions" ng-class="{error:mission.error}">
            <tr>
                <th colspan="3">{{mission.title}}</th>
                <th>{{mission.result}}</th>
            </tr>
            <tr ng-repeat="objective in mission.objectiveList">
                <td></td>
                <td>{{objective.title}}</td>
                <td>
                    <span ng-switch="objective.type">
                        <input ng-model="objective.value" type="checkbox" ng-switch-when="Boolean">
                        <input ng-model="objective.value" min="{{objective.min||0}}" max="{{objective.max}}" type="number" ng-switch-when="Number">
                    </span>
                </td>
                <td></td>
                <!-- <td>{{result(feat.rule)</td> -->
            </tr>
        </tbody>
    </table>
</div>
