<div ng-controller="scoresheetCtrl">
    <div id="scoresheet">
        <div ng-show="errorMessage">
            <p class="error">
                {{errorMessage}}
            </p>
        </div>
        <div class="missions" ng-style="{borderLeftColor:teamColor()}">
            <h1>{{field.title}}</h1>
            <section class="panel">
                <h2>Team &amp; round</h2>
                <table>
                    <tr>
                        <td>
                            <button class="btn btn-select" ng-click="openTeamModal(teams)"><div class="icon-group"/> Team</button>
                            <span ng-show="team">({{team.number}}) {{team.name}} </span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <button class="btn btn-select" ng-click="openRoundModal(stages)"><div class="icon-tag"/> Stage &amp; round</button>
                            <span ng-show="stage">{{stage.name}}:</span> <span ng-show="round">{{round}}</span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                        </td>
                        <td>

                        </td>
                    </tr>
                </table>
                <div id="totalScore" ng-hide="settings.hideTotal">
                    Total score: {{score()}}
                </div>
            </section>
            <form id="scoresheetForm" ng-submit="validateScoresheet()">
                <section class="panel" ng-repeat="mission in missions" ng-class="{error:mission.error}">

                    <div class="description" ng-click="openDescriptionModal(mission)"><div class="icon-question-sign"/></div>

                    <h2>
                        {{mission.title}}
                        ({{mission.result}})
                    </h2>
                    <div class="objective" ng-repeat="objective in mission.objectives" ng-switch="objective.type">
                        <div>
                            <span class="field" ng-switch-when="yesno">
                                {{objective.title}}
                                <div class="btn-group">
                                    <label class="btn btn-enum" ng-model="objective.value" btn-radio="'yes'">yes</label>
                                    <label class="btn btn-enum" ng-model="objective.value" btn-radio="'no'">no</label>
                                </div>
                            </span>
                            <span class="field" ng-switch-when="number">
                                {{objective.title}}
                                <span fll-spinner ng-model="objective.value" min="objective.min||0" max="objective.max"></span>
                            </span>
                            <div class="field" ng-switch-when="enum">
                                {{objective.title}}
                                <div class="btn-group">
                                    <label ng-repeat="line in objective.options" class="btn btn-enum" ng-model="objective.value" btn-radio="line.value">{{line.title}}</label>
                                </div>
                                <div style="clear:both;"></div>
                            </div>
                        </div>
                    </div>
                    <div ng-show="mission.errors" ng-repeat="error in mission.errors" class="error">
                    <div class="icon-warning-sign" />
                    {{error.message}}</div>
                </section>
            </form><!-- END of scoresheetForm -->
            <section class="panel">
                <h2>Team &amp; round</h2>
                    <table>
                        <tr>
                            <td>
                                <button class="btn btn-select" ng-click="openTeamModal(teams)"><div class="icon-group"/> Team</button>
                                <span ng-show="team">({{team.number}}) {{team.name}} </span>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <button class="btn btn-select" ng-click="openRoundModal(stages)"><div class="icon-tag"/> Stage &amp; round</button>
                                <span ng-show="stage">{{stage.name}}:</span> <span ng-show="round">{{round}}</span>
                            </td>
                        </tr>
                     </table>
                    <div id="totalScore" ng-hide="settings.hideTotal">
                        Total score: {{score()}}
                    </div>
            </section>

            <section class="panel">
                <h2>
                    Team signature
                    <button class="btn pull-right btn-warning" ng-click="signature=null"><div  class="icon-eraser"/> Clear signature</button>
                </h2>
                <div fll-sigpad ng-model="signature"></div>
            </section>
        </div>


        <div>
            <button class="btn btn-danger" id="discard" fll-really-message="Sure to discard this score sheet?" fll-really-click="discard()"><div class="icon-remove"/> Discard</button>
            <button class="btn btn-success" id="save" ng-disabled="!isSaveable()" ng-click="save()"><div class="icon-ok"/> Save</button>
        </div>

    </div>

    <div class="fll-dialog" id="teamDialog" ng-controller="TeamDialogController" ng-show="dialogVisible">
        <h1>
            Select a team
            <button class="btn btn-danger btn-dialog pull-right" ng-click="cancel()"><div class="icon-remove" /></button>
        </h1>
        <section>
            <table class="table table-hover table-striped table-teams">
                <thead>
                    <tr>
                        <th ng-click="sort='team.number';rev=true">#</th>
                        <th ng-click="sort='team.name';rev=true">Name</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="team in teams" ng-click="selectTeamPop(team)">
                        <td><h3>{{team.number}}</h3></td>
                        <td>{{team.name}}
                        <br />
                        <small>{{team.affiliation}}, {{team.cityState}}</small>
                        </td>
                    </tr>
                </tbody>
            </table>
        </section>
    </div>

    <div class="fll-dialog" id="roundDialog" ng-controller="RoundDialogController" ng-show="dialogVisible">
        <h1>
            Select a round
            <button class="btn btn-danger btn-dialog pull-right" ng-click="cancel()"><div class="icon-remove" /></button>
        </h1>
        <section>
            <table class="table table-striped">
                <tbody>
                    <tr ng-repeat="stage in stages">
                        <td>
                            <h3>{{stage.name}}</h3>
                        </td>
                        <td>
                            <div class="btn-group btn-group-justified">
                                <div class="btn-group" >
                                    <button
                                        type="button"
                                        class="btn btn-round"
                                        ng-repeat="dummy in getNumber(stage.rounds) track by $index"
                                        ng-click="selectRoundPop(stage, $index+1)"
                                        ><div class="round-label">{{$index+1}}</div>
                                    </button>
                                </div>
                            </div>
                        </td>
                    </tr ng-repeat-end>
                </tbody>
            </table>
        </section>
    </div>

    <div class="fll-dialog" id="descriptionDialog" ng-controller="DescriptionDialogController" ng-show="dialogVisible">
        <h1>
            {{mission.title}}
            <button class="btn btn-danger btn-dialog pull-right" ng-click="cancel()"><div class="icon-remove" /></button>
        </h1>
        <section>
            <div class="modal-body" ng-bind-html="mission.description">
               {{mission.description}}
            </div>
        </section>
    </div>
</div>
