<div ng-controller="scoresheetCtrl" id="scoresheet">
    <div>

        <div class="missions" ng-style="{borderLeftColor:teamColor()}">
            <h1>{{field.title}}</h1>
            <section class="panel" ng-repeat="mission in missions" ng-class="{error:mission.error}">

                <div>
                    <script type="text/ng-template" id="myModalContent.html">
                        <div class="modal-header">
                            <h3 class="modal-title">{{mission.title}}</h3>
                        </div>
                        <div class="modal-body">
                           {{mission.description}}
                        </div>
                        <div class="modal-footer">
                            <button class="btn btn-primary" ng-click="ok()">OK</button>
                        </div>
                    </script>

                    <div class="description" ng-click="open('lg', mission)">description</div>
                </div>

                <h2>
                    {{mission.title}}
                    ({{mission.result}})
                </h2>
                <div class="objective" ng-repeat="objective in mission.objectives" ng-switch="objective.type">
                    <div>
                        <label class="field" ng-switch-when="yesno">
                            {{objective.title}}
                            <div class="btn-group">
                                <label class="btn btn-enum" ng-model="objective.value" btn-radio="'yes'">yes</label>
                                <label class="btn btn-enum" ng-model="objective.value" btn-radio="'no'">no</label>
                            </div>
                        </label>
                        <span class="field" ng-switch-when="number">
                            {{objective.title}}
                            <span fll-spinner ng-model="objective.value" min="objective.min||0" max="objective.max"></span>
                        </span>
                        <div ng-switch-when="enum">
                            <div class="btn-group">
                                <label ng-repeat="line in objective.title" class="btn btn-enum" ng-model="objective.value" btn-radio="line.id">{{line.title}}</label>
                            </div>
                            <div style="clear:both;"></div>
                        </div>
                    </div>
                </div>
                <p ng-show="mission.errors"
                    ng-repeat="error in mission.errors"
                    class="error"
                >{{error.message}}</p>
            </section>

            <section class="panel">
                <h2>
                    <table>
                        <tr>
                            <td>
                                <button class="btn btn-enum" ng-click="showTeams()">Select team</button>
                            </td>
                            <td>
                                <span ng-show="team">{{team.name}} ({{team.number}})</span>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <button class="btn btn-enum" ng-click="chooseStage()">Select stage</button>
                            </td>
                            <td>
                                <span ng-show="stage">Stage {{stage.name}}</span>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <button ng-enable="!stage || round" class="btn btn-enum" ng-click="chooseRound(stage)">Select round</button>
                            </td>
                            <td>
                                <span ng-show="round">Round {{round}}</span>
                            </td>
                        </tr>
                    </table>
                    <div id="totalScore">
                        Total score: {{score()}}
                    </div>
                </h2>
            </section>

            <section class="panel" ng-show="team &amp;&amp; stage &amp;&amp; round">
                <h2>
                    Team signature
                    <button class="btn pull-right btn-enum" ng-click="signature=null">clear</button>
                </h2>
                <div fll-sigpad ng-model="signature"></div>
            </section>
        </div>


        <p>
            <button class="btn btn-enum" id="save" ng-disabled="!isSaveable()" ng-click="save()">Save</button>
            <button class="btn btn-enum" id="discard" fll-really-message="Sure to discard this score sheet?" fll-really-click="discard()">Discard</button>
        </p>
    </div>
</div>
