<div class="appbar">
    <button ng-click="toggleDrawer()">
        <i class="icon-reorder"></i>
    </button>
    <h1>{{currentPage}}</h1>
</div>
<div ng-controller="settingsCtrl">
    <p>
        <button class="btn" ng-click="save()">
            <i class="icon-ok"></i>
            Save settings
        </button>
        <button class="btn" ng-click="createStage()" ng-if="tab === 2">
            <i class="icon-plus-sign-alt"></i>
            Add new stage
        </button>
    </p>
    <ul class="nav nav-tabs nav-justified" role="tablist">
        <li role="presentation" ng-class="{active:tab===1}"><a href ng-click="tab = 1">Tables &amp; Referees</a></li>
        <li role="presentation" ng-class="{active:tab===2}"><a href ng-click="tab = 2">Rounds &amp; Stages</a></li>
        <li role="presentation" ng-class="{active:tab===3}"><a href ng-click="tab = 3">Challenge</a></li>
        <li role="presentation" ng-class="{active:tab===4}"><a href ng-click="tab = 4">Log</a></li>
    </ul>

    <div ng-show="tab === 1">
        <p>
            <label for="">Table</label>
            <input type="text" ng-model="settings.table">
        </p>
        <p>
            <input id="hideTotal" type="checkbox" ng-model="settings.hideTotal">
            <label for="hideTotal">Hide total score</label>
        </p>
        <p>
            <label for="teamSort">Sort teams by</label>
            <input id="teamSortNumber" type="radio" ng-model="settings.teamSort" value="number">Team number<br>
            <input id="teamSortName" type="radio" ng-model="settings.teamSort" value="name">Team name<br>
        </p>
    </div>
    <div ng-show="tab === 2">
        <div ng-repeat="stage in allStages" class="card">
            <h1 class="card-header">
                {{stage.name}}
                <span ng-if="stage.rounds === 0">(disabled)</span>
                <span ng-if="stage.rounds != 0">({{stage.rounds}} rounds)</span>
            </h1>
            <div class="card-body">
                <p class="textfield">
                    <input type="text" ng-model="stage.name">
                    <label for="">Name</label>
                </p>
                <p class="textfield">
                    <input type="number" min="0" ng-model="stage.rounds">
                    <label for="">Rounds (0 to disable stage)</label>
                </p>
            </div>
            <div class="card-actions">
                <p class="pull-left">
                    <button class="btn" ng-click="removeStage(stage)">Remove stage</button>
                </p>
                <p class="pull-right" >
                    <button class="btn" ng-click="moveUp(stage)">Up</button>
                    <button class="btn" ng-click="moveDown(stage)">Down</button>
                </p>
            </div>
        </div>
    </div>
    <div ng-show="tab === 3">
        <p>
            <label for="">Host</label>
            <input type="text" ng-model="settings.host" />
            shared host to get data from and save data to. E.g. 'http://www.example.com/'
        </p>
        <p>
            <label for="">Message bus</label>
            <input type="text" ng-model="settings.messageBus" />
            message bus endpoint for http POST
        </p>
        <p>
            <label for="">Challenge</label>
            <input type="text" ng-model="settings.challenge" />
            currently the filename containing missions! E.g. '2015_nl_NL' (no file extension)
        </p>
        <p>

        </p>
    </div>
    <div ng-show="tab === 4">
        <h1 >Log</h1>

        <pre>
            <code ng-repeat="line in log track by $index">{{line}}<br></code>
        </pre>
    </div>
    <p>
        <button class="btn" ng-click="save()">
            <i class="icon-ok"></i>
            Save settings
        </button>
    </p>
</div>
