<div class="appbar">
    <button ng-click="toggleDrawer()">
        <i class="icon-reorder"></i>
    </button>
    <h1>{{currentPage}}</h1>
</div>
<div ng-controller="settingsCtrl">
    <button class="fab main-fab" ng-click="createStage()" ng-if="tab === 2">
        +
    </button>
    <p>
        <button class="btn" ng-click="save()">
            <i class="icon-ok"></i>
            Save settings
        </button>
    </p>
    <ul class="nav nav-tabs nav-justified" role="tablist">
        <li role="presentation" ng-class="{active:tab===1}"><a href ng-click="tab = 1">Tables &amp; Referees</a></li>
        <li role="presentation" ng-class="{active:tab===2}"><a href ng-click="tab = 2">Rounds &amp; Stages</a></li>
        <li role="presentation" ng-class="{active:tab===3}"><a href ng-click="tab = 3">Challenge</a></li>
        <li role="presentation" ng-class="{active:tab===4}"><a href ng-click="tab = 4">Log</a></li>
    </ul>

    <div ng-show="tab === 1">
        <div class="card">
            <h1 class="card-header">
                Tables
            </h1>
            <div class="list">
                <div ng-repeat="table in settings.tables" class="list-item">
                    <p class="textfield nolabel">
                        <input type="text" ng-model="table.name">
                        <label for="">Name</label>
                    </p>
                    <span class="list-icon-right">
                        <i class="icon-trash clickable" ng-click="removeItem(settings.tables,$index)"></i>
                    </span>
                </div>
            </div>
            <div class="card-actions">
                <button class="flat" ng-click="addItem(settings.tables)">New table</button>
            </div>
        </div>
        <div class="card">
            <h1 class="card-header">
                Referees
            </h1>
            <div class="list">
                <div ng-repeat="referee in settings.referees" class="list-item">
                    <p class="textfield nolabel">
                        <input type="text" ng-model="referee.name">
                        <label for="">Name</label>
                    </p>
                    <span class="list-icon-right">
                        <i class="icon-trash clickable" ng-click="removeItem(settings.referees,$index)"></i>
                    </span>
                </div>
            </div>
            <div class="card-actions">
                <button class="flat" ng-click="addItem(settings.referees)">New referee</button>
            </div>
        </div>
        <div class="card">
            <h1 class="card-header">Scoresheet</h1>
            <div class="card-body">
                <p>
                    <label for="hideTotal">
                        <input id="hideTotal" type="checkbox" ng-model="settings.hideTotal">
                        Hide total score
                    </label>
                </p>
                <p>
                    <label for="askTable">
                        <input id="askTable" type="checkbox" ng-model="settings.askTable">
                        Ask for table
                    </label>
                </p>
                <p>
                    <label for="askReferee">
                        <input id="askReferee" type="checkbox" ng-model="settings.askReferee">
                        Ask for referee
                    </label>
                </p>
                <p>
                    <label for="teamSort">Sort teams by:</label>
                    <label for="teamSortNumber">
                        <input id="teamSortNumber" type="radio" ng-model="settings.teamSort" value="number">
                        Team number
                    </label>
                    <label for="teamSortName">
                        <input id="teamSortName" type="radio" ng-model="settings.teamSort" value="name">
                        Team name
                    </label>
                </p>
            </div>
        </div>
    </div>
    <div ng-show="tab === 2">
        <div ng-repeat="stage in allStages" class="card">
            <h1 class="card-header">
                {{stage.name}}
                <span ng-if="stage.rounds === 0">(disabled)</span>
                <span ng-if="stage.rounds != 0">({{stage.rounds}} rounds)</span>
            </h1>
            <div class="card-body">
                <p class="textfield">
                    <input type="text" ng-model="stage.name">
                    <label for="">Name</label>
                </p>
                <p class="textfield">
                    <input type="number" min="0" ng-model="stage.rounds">
                    <label for="">Rounds (0 to disable stage)</label>
                </p>
            </div>
            <div class="card-actions">
                <p class="pull-left">
                    <button class="flat" ng-click="removeStage(stage)">Remove stage</button>
                </p>
                <p class="pull-right" >
                    <button class="flat" ng-click="moveUp(stage)">Up</button>
                    <button class="flat" ng-click="moveDown(stage)">Down</button>
                </p>
            </div>
        </div>
    </div>
    <div ng-show="tab === 3">
        <p>
            
            <span class="textfield">
                <input type="text" ng-model="settings.host" />
                <label for="">Host</label>
            </span>
            shared host to get data from and save data to. E.g. 'http://localhost:1390/'
        </p>
        <p>
            
            <span class="textfield">
                <input type="text" ng-model="settings.mhub" />
                <label for="">MHub server</label>
            </span>
            MHub server to send messages to. E.g. 'ws://localhost:13900/'
        </p>
        <p>
            
            <span class="textfield">
                <input type="text" ng-model="settings.node" />
                <label for="">MHub node</label>
            </span>
            MHub server node to subscribe to. E.g. 'scoring'
        </p>
        <p>
            
            <span class="textfield">
                <input type="text" ng-model="settings.challenge" />
                <label for="">Challenge</label>
            </span>
            currently the filename containing missions! E.g. '2015_nl_NL' (no file extension)
        </p>
    </div>
    <div ng-show="tab === 4">
        <h1 >Log</h1>

        <pre>
            <code ng-repeat="line in log track by $index">{{line}}<br></code>
        </pre>
    </div>
    <p>
        <button class="btn" ng-click="save()">
            <i class="icon-ok"></i>
            Save settings
        </button>
    </p>
</div>
