<div ng-controller="settingsCtrl">
    <h1>Settings</h1>

    <p>
        <label for="">Table</label>
        <input type="text" ng-model="settings.table">
    </p>
    <p>
        <label for="">Challenge</label>
        <input type="text" ng-model="settings.challenge">
        (currently the filename containing missions)
    </p>
    <p>
        <button class="btn" ng-click="save()">Save</button>
    </p>

    <h1>Log</h1>
    <pre><code ng-repeat="line in log">{{line}}<br></code></pre>
</div>
