<div ng-controller="teamsCtrl">
    <p class="pull-right">
        <button class="btn" ng-hide="editMode" ng-click="editMode=true">
            <i class="icon-edit"></i> Edit
        </button>
        <button class="btn btn-primary" ng-show="editMode" ng-click="editMode=false">Done</button>
    </p>
    <p class="pull-right">
        <button class="btn" ng-click="load()">
            <i class="icon-cloud-download"></i>
            Load
        </button>
    </p>
    <h1>Teams <i ng-show="saving" class="icon-save"></i></h1>
    <div class="alert alert-info" ng-show="status">
        <button type="button" class="close" ng-click="status=''">&times;</button>
        {{status}}
    </div>
    <form class="form-inline" name="newTeamForm" ng-show="editMode">
        <p>
            <span class="control-group" ng-class="{error:!newTeamForm.newTeamNumber.$valid}">
                <label class="control-label">
                    Number:
                    <input type="text" name="newTeamNumber" ng-pattern="teamNumberPattern" class="input-small" ng-model="newTeam.number" size="4">
                </label>
            </span>
            <span class="control-group">
                <label class="control-label">
                    Name:
                    <input type="text" ng-model="newTeam.name">
                </label>
            </span>
            <button class="btn" ng-click="addTeam()" ng-disabled="!newTeamForm.$valid">Add team</button>
        </p>
    </form>

    <div class="teams">
        <div class="team" ng-repeat="team in teams" ng-click="selectTeam(team)">
            <i ng-show="editMode" class="icon-remove-sign" ng-click="removeTeam($index)"></i>
            <div class="number">{{team.number}}</div>
            <div class="name">{{team.name}}</div>
        </div>
    </div>
</div>
