html,body {
    margin: 0;
    padding: 0;
    height: 100%;
    position: relative;
}
body {
    font-family: 'latolight', 'Segoe UI','helvetica','Arial';
    font-size: 18px;
    background-color: white;
}

h1 {
    font-family: 'latolight', 'Segoe UI Light','helvetica','Arial';
    color: dodgerblue;
    font-size: 32px;
    padding: 0 12px;
    font-weight: normal;
}

.score {
    font-family: 'latolight', 'Segoe UI Light','helvetica','Arial';
    font-size: 20px;
    padding: 0 7px;
    font-weight: normal;
}

table {
    border-collapse: collapse;
    width: 100%;
}

/* teams */
@media screen {

    .active i {
        color: #319cff;
    }

    .active {
        outline: 0;
    }
}

/* navigation bar */
@media screen {
    .navbar .nav {
        margin: 0;
        width: 100%;
    }
    .navbar li {
        box-sizing: border-box;
        width: 20%;
        text-align: center;
        cursor: pointer;
    }
    .navbar .nav li a {
        padding-left: 0;
        padding-right: 0;
    }

    .smallWindow .navbar i {
        font-size: 28px;
        display: block;
    }

    .smallWindow .navbar .nav span {
        /*display: none;*/
    }
}

/* app bar http://www.google.com/design/spec/layout/structure.html#structure-app-bar */
@media screen {
    .appbar {
        position: fixed;
        left: 0;
        top: 0;
        right: 0;
        height: 64px;
        line-height: 64px;
        background-color: dodgerblue;
        padding-left: 4px;
        box-shadow: 0 2px 5px rgba(0,0,0,0.26);
        z-index: 1990;
    }
    .appbar button {
        height: 48px;
        width: 48px;
        border: none;
        padding: 12px;
        background: none;
        display: inline-block;
        vertical-align: 3px;
    }
    .appbar button i {
        font-size: 22px;
        color: white;
    }
    .appbar h1 {
        display: inline-block;
        color: white;
        text-transform: capitalize;
    }

    .appbar .score {
        display: inline-block;
        color: black;
        float: right;
    }

    .appbar .appbar-actions {
        position: absolute;
        top: 6px;
        right: 8px;
    }
}

/* navigation drawer: http://www.google.com/design/spec/patterns/navigation-drawer.html */
@media screen {
    .drawer {
        position: fixed;
        left: 0;
        top: 0;
        bottom: 0;
        /* The width of the side nav is equal to the width of the screen minus the height of the action bar */
        max-width: -webkit-calc(100% - 64px);
        max-width: calc(100% - 64px);
        /* The maximum width of the nav drawer is 5 times the standard increment (56dp on mobile and 64dp on tablet). */
        width: 320px;
        background-color: white;
        -webkit-transform: translate(-100%);
        transform: translate(-100%);
        -webkit-transition: -webkit-transform 0.2s;
        transition: transform 0.2s;
        z-index: 1998;
        border-right: 1px solid rgba(0,0,0,0.14);
    }
    .drawer.visible {
        -webkit-transform: translate(0);
        transform: translate(0);
        box-shadow: 0 2px 5px rgba(0,0,0,0.26);
    }
    .drawer .drawerLead {
        /*height: 156px;*/
        height: 64px;
        /*background-color: red;*/
        border-bottom: 1px solid rgba(0,0,0,0.14);
        background-image: url('../img/colors4.png');
        background-position: center;
    }
    .drawerShim {
        opacity: 0;
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: black;
        z-index: 1997;
        -webkit-transition: opacity 0.2s;
        transition: opacity 0.2s;
        pointer-events: none;
    }
    .drawerShim.visible {
        opacity: 0.5;
        pointer-events: inherit;
    }
    .drawer .nav {
        margin-top: 8px;
    }
    .drawer .nav li {
        height: 48px;
        line-height: 48px;
    }
    .drawer .nav li a {
        padding: 0 16px;
        cursor: pointer;
    }
    .drawer .nav li i {
        width: 24px;
        margin-right: 16px;
        display: inline-block;
        width: 20px;
        font-size: 24px;
    }
}

/* material design icons */
.material-icons {
    vertical-align: text-bottom;
    font-size: inherit;
}
button .material-icons {
}

/* main view */
@media screen {
    .viewMain {
        overflow: hidden;
        padding-top: 16px;
    }
    /* backgrounds */
    .viewMain.scoresheet {
        background-color: #FAFAFA;
    }
}

/* small layout */
@media screen and (max-width: 480px) {
    .appbar {
        height: 56px;
    }
    .drawer {
        max-width: calc(100% - 56px);
        width: 280px;
    }
    .drawer .drawerLead {
        height: 56px;
    }
    .viewMain {
        margin-top: 56px;
        overflow: hidden;
    }

    .viewMain > div {
        display: none;
        padding-bottom: 40px;
    }

    .viewMain.teams .view-teams,
    .viewMain.scoresheet .view-scoresheet,
    .viewMain.scores .view-scores,
    .viewMain.ranking .view-ranking,
    .viewMain.settings .view-settings {
        display: block;
    }

    .btn-enum {
        text-rendering: optimizeLegibility;
    }

    .panel {
        padding: 1px;
    }

    .smallLayoutShow {
        display: initial;
    }

    .smallLayoutHide {
        display: none !important;
    }
}

/* medium layout */
@media screen and (min-width: 481px) and (max-width: 1024px) {
    .appbar {
        height: 64px;
    }
    .drawer {
        max-width: calc(100% - 64px);
        width: 320px;
    }
    .viewMain {
        margin-top: 64px;
        overflow: hidden;
    }
    .viewMain > div {
        display: none;
        padding-bottom: 40px;
    }

    .viewMain.teams .view-teams,
    .viewMain.scoresheet .view-scoresheet,
    .viewMain.scores .view-scores,
    .viewMain.ranking .view-ranking,
    .viewMain.settings .view-settings {
        display: block;
    }

    .panel, #teams {
        padding: 5px;
    }

    #teams .table-teams {
        display: none;
    }

    .mediumLayoutShow {
        display: initial;
    }

    .mediumLayoutHide {
        display: none !important;
    }
}

/* large layout */
@media screen and (min-width: 1025px) {
    .appbar {
        height: 64px;
        padding-left: 272px;
    }
    .drawer {
        max-width: calc(100% - 64px);
        width: 320px;
        -webkit-transform: translate(0);
        transform: translate(0);
        box-shadow: none;
    }
    .drawerShim {
        display: none;
    }
    .viewMain {
        margin-top: 64px;
        margin-left: 320px;
        overflow: hidden;
    }
    .viewMain > div {
        padding: 0 10px;
        display: none;
        padding-bottom: 40px;
    }
    .viewMain.teams .view-teams,
    .viewMain.scoresheet .view-scoresheet,
    .viewMain.scores .view-scores,
    .viewMain.ranking .view-ranking,
    .viewMain.settings .view-settings {
        display: block;
    }

    /*.panel, #teams {
       padding: 10px;
    }*/

    .largeLayoutShow {
        display: initial;
    }

    .largeLayoutHide {
        display: none !important;
    }
}

.sortable span{
    float: left;
}

.sortable i{
    float: right;
}
