.view-scoresheet .teams {
    background-color: #333;
    height: 400px;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}
.selectedLbl {
	float: left;
	align: left;
	font-size: 130%;
	font-weight: bold;
}


#scoresheet {
    max-width: 900px;
    margin: auto;
}

#scoresheet .btn {
    min-width: 150px;
    font-size: 18px;
}

.btn-group {
    white-space: normal;
    text-align: right;
    display: block;
    float: right;
}

.btn-enum {
    color: #00376c;
    background: #e2f1ff;
    font-size: 18px;
    text-shadow: none;
}

.btn-enum:hover, .btn-enum:focus, .btn:hover, .btn:focus {
    transition: background-position none;
}

.btn-enum.active {
    background: #00376c;
    color: #94caff;
}

#save, #submit {
    float: right;
}

#totalScore {
    text-align: right;
}

.description {
    float: right;
    cursor: pointer;
}

.panel {
    margin-bottom: 20px;
    background-color: #E5EDF0;
    background-color: rgba(128,128,128,0.1);
    color: dodgerblue;
    padding: 10px;
}
.panel h2 {
    font-size: 20px;
    font-weight: normal;
    text-align: left;
    padding: 4px 10px;
    margin: 0;
    line-height: 24px;
    overflow: auto;
}

.panel h2 .result {
    float: right;
    font-weight: bold;
}

.missions .error {
    background-color: crimson;
    color: white;
}

.missions .field {
    display: block;
    text-align: left;
    overflow: auto;
    margin: 2px;
    line-height: 30px;
    padding: 10px;
    padding-right: 2px;
    font-size: 18px;
}
.missions span.field {
    text-shadow: 0 1px 1px rgba(255,255,255,0.75);
    vertical-align: middle;
}
.missions .field input {
    margin: 0;
    height: 20px;
}
.missions .field [fll-spinner],
.missions .field input,
.missions .field .btn {
    margin: 0px 2px;
}
.missions .field [fll-spinner],
.missions .field input,
.missions .field .btn-group {
    float: right;
}

.missions .field input[type=checkbox],
.missions .field input[type=radio] {
    height: 28px;
}

input[type=number] {
    width: 35px;
}
.error td {
    color: crimson;
}
[fll-sigpad] canvas {
    border: 1px solid silver;
    height: 200px;
    width: 400px;
    margin: 10px;
}
.scorereview {
	padding: 10px 2px 10px 10px;
	margin: 2px;
}
