.panel {
    padding-bottom: 30px;
}
.panel h2 {
    color: #666;
    font-size: 16px;
    font-weight: normal;
    text-align: left;
    padding: 4px 10px;
    background-color: whitesmoke;
    border-top: 1px solid silver;
    margin: 0;
    line-height: 30px;
    overflow: auto;
}


.missions {
    border: 1px solid whitesmoke;
    border-left: 5px solid silver;
}

.missions h2 .result {
    float: right;
    font-weight: bold;
}

.missions .field {
    display: block;
    text-align: left;
    overflow: auto;
    margin: 2px 50px;
    line-height: 30px;
    padding: 10px;
}
.missions span.field {
    font-size: 14px;
    text-shadow: 0 1px 1px rgba(255,255,255,0.75);
    vertical-align: middle;
    cursor: pointer;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border-color: #e6e6e6 #e6e6e6 #bfbfbf;
    border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
    border-bottom-color: #b3b3b3;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
.missions .field input {
    margin: 0;
    height: 20px;
}
.missions .field input,
.missions .field .btn {
    float: right;
    margin: 0px 2px;
}
.missions .field input[type=checkbox],
.missions .field input[type=radio] {
    height: 28px;
}

input[type=number] {
    width: 35px;
}
.error td {
    color: crimson;
}
[sigpad] canvas {
    border: 1px solid silver;
    height: 200px;
    width: 400px;
    margin: 10px;
}
