.view-scores .teams {
    background-color: #333;
    height: 400px;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}

.panel {
    margin-bottom: 20px;
    background-color: #E5EDF0;
    background-color: rgba(128,128,128,0.1);
    color: dodgerblue;
}
.panel h2 {
    font-size: 20px;
    font-weight: normal;
    text-align: left;
    padding: 4px 10px;
    margin: 0;
    line-height: 24px;
    overflow: auto;
}

.panel h2 .result {
    float: right;
    font-weight: bold;
}


.missions .field {
    display: block;
    text-align: left;
    overflow: auto;
    margin: 2px 50px;
    line-height: 30px;
    padding: 10px;
}
.missions span.field {
    font-size: 14px;
    text-shadow: 0 1px 1px rgba(255,255,255,0.75);
    vertical-align: middle;
}
.missions .field input {
    margin: 0;
    height: 20px;
}
.missions .field [fll-spinner],
.missions .field input,
.missions .field .btn {
    float: right;
    margin: 0px 2px;
}
.missions .field input[type=checkbox],
.missions .field input[type=radio] {
    height: 28px;
}

input[type=number] {
    width: 35px;
}
.error td {
    color: crimson;
}
[fll-sigpad] canvas {
    border: 1px solid silver;
    height: 200px;
    width: 400px;
    margin: 10px;
}
