@media screen {
    [fll-spinner] {
        display: inline-block;
        vertical-align: middle;
        overflow: hidden;
        /* fix for overflow-scrolling bug */
        -webkit-transform: translateZ(0);
    }
    .spinner {
        display: inline-block;
        vertical-align: middle;
        border: 1px solid steelblue;
        height: 30px;
        width: 126px;
        padding-left: 95px;
        -webkit-user-select: none;
        position: relative;
        overflow: hidden;
        background-color: white;
    }
    .spinner .frame {
        display: block;
        margin-left: 0px;
        width: 640px;
        -webkit-transition: -webkit-transform 0.1s;
        -moz-transition: -moz-transform 0.1s;
        transition: transform 0.1s;

    }
    .spinner.dragging .frame {
        -webkit-transition: none;s;
        -moz-transition: none;
        transition: none;
    }
    .spinner.drifting .frame {
        -webkit-transition: -webkit-transform 0.5s ease-out;
        -moz-transition: -moz-transform 0.5s ease-out;
        transition: transform 0.5s ease-out;
    }

    .spinner .prev,
    .spinner .next,
    .spinner .frame > span {
        float: left;
        width: 32px;
        height: 32px;
        border-width: 0px 1px;
        line-height: 30px;
        text-align: center;
        background-color: white;
        box-sizing: content-box;
        padding: 0;
        font-size: inherit;
        cursor: default;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        -o-user-select: none;
        user-select: none;  ;
    }

    .spinner .prev,
    .spinner .next {
        box-shadow: 0px 0px 30px 10px rgba(0,0,0,0.5);
        border: none;
    }
    .spinner .prev {
        position: absolute;
        border-right: 1px solid steelblue;
        left: 0px;
    }
    .spinner .next {
        position: absolute;
        border-left: 1px solid steelblue;
        right: 0px;
    }

    .spinner .inner {
        position: absolute;
        top: -2px;
        left: 94px;
        width: 32px;
        height: 34px;
        border: 1px solid steelblue;
        background-color: lightsteelblue;
        opacity: 0.3;
    }
}
