#teams {
	overflow-y: auto;
}

#teams .scroller {
	min-width: 1000px;
}

#teams .btn {
	outline: 0;
}

.team {
    background-color: rgba(128,128,128,0.1);
    color: dodgerblue;
    padding: 12px 12px;
    margin: 20px 0;
}

.table-teams input[type=text] {
	width: 150px;
}

.team button {
	float: right;
}

.team .extended {
	margin-top: 5px;
	padding-left: 10px;
	font-size: 14px;
}

.team .title {
	display: inline-block;
	width: 130px;
}

.clickable {
	cursor: pointer;
}

input[type=text].team-number {
	width: 30px;
}
